header {
  background-color: green;
  font-family: "Times New Roman", sans-serif;
  text-align: center;
}

main::selection {
  background-color: white;
  color: red;
}

body::selection {
  background-color: white;
  color: red;
}


header + h1 {
  background-color: yellow;
}

main p {
  background-color: yellow;
}

body p {
  background-color: yellow;
  text-align: center;
}

dd p {
  background-color: yellow;
}

h1 {
  font-size: 2rem;
}

table.center {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

nav > ul {
  list-style-type: none;
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 2rem;  
}

h3 {
  font-family: "Times New Roman", serif;
  font-size: 2rem;  
}

h4 {
  font-family: "Times New Roman", serif;
  font-size: 2rem;  
}

p {
  font-family: "Times New Roman", serif;
}

img {
  text-align: center;
}
main{
 background-color: white;
  font-family: Times New Roman, serif;
  text-align: center;
  border: 1px solid black;
}

#main {
 display: grid;
  gap: 20px;
  padding: 0 2rem 0 2rem;
  font-size: 1rem;
  }

#main p {
  font-family: "Times New Roman", sans-serif;
  }

.Home{
  border: 1px blue;
}

.About_us{
   border: 1px blue;
}

.Contact_us{
   border: 1px blue;
}

.Types_of_Meat{
  border: 1px blue;
}

.Pictures{
border: 1px blue;
}

body {
  background-color: green;
  text-align: left;
  border: 1px solid black;  
}

.Meat{
  font-weight: bold;
}

.Chicken{
  font-weight: bold;
}

.Burgers {
  font-weight: bold;
}

.Fish {
  font-weight: bold;
}

.Pork {
  font-weight: bold;
}

nav > ul > li {
  list-style-type: none;  
  display: inline-flex;
  font-size: 1.2em;
  padding: 20px;
  padding-left: 100px;
  border: 1px blue;
 }

li {
  list-style-type: square;
  font-size: 20px;
  padding-bottom: 200px;
}

ul {
  list-style-type: none;
  padding-right: 3em;
  margin: 0;
}

section {
  background-color: white;
}

a[href] {
  background-color: blue;
  color: white;
  font-weight: bold;
}

a:visited {
  color:yellow;
}

td:hover {
  background-color: black;
  color: white;
}

p::selection {
  background-color: white;
  color: red;
}

table,thead,tbody,tfoot,tr, td,th {
  text-align: center;
  margin: auto;
  border:1px solid black;
  padding: 1rem;
  width: 50%;
}

::-moz-selection { background: #87CEFA; }
::selection { background-color: #87CEFA; }

a[href]::selection {
  background-color: red;
  color: yellow;
}

dl::selection {
  background-color: #87CEFA;
  color: white;
}

footer {
  background-color: white;
  font-family: "Times New Roman", serif;
  text-align: left;
}
