header {
  background-color: green;
  font-family: "Times New Roman", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

#Cohen_Cooks,_Inc {
  border: 1px white;
  width: 90px;
  height: 70px;
  padding: 10px;
  margin: 10px;
}

h2 {
  font-family: "Times New Roman", serif;
}

p {
  font-family: "Times New Roman", serif;
}

main{
 background-color: white;
  font-family: Times New Roman, serif;
  text-align: center;
}

.Home{
  border: 1px light blue;
}

.About_us{
   border: 1px light blue;
}

.Contact_us{
   border: 1px light blue;
}

.Types_of_Meat{
  border: 1px light blue;
}

.Pictures{
border: 1px light blue;
}

body {
  background-color: green;
  text-align: left;
}

#meat{
  font-weight: bold;
}

#chicken{
  font-weight: bold;
}

#burgers{
  font-weight: bold;
}

#fish{
  font-weight: bold;
}

nav > ul > li {
  display: inline-flex;
  font-size: 1.2em;
  padding: 20px;
  padding-left: 100px;
  color: white;
}

ol > li {
  list-style-type: square;
  font-size: 20px;
  padding-bottom: 200px;
}

ul {
  list-style-type: none;
  padding-right: 3em;
  margin: 0;
}

section {
  background-color: green;
  }

footer {
  background-color: white;
  font-family: "Times New Roman", serif;
  text-align: left;
}
