header {
  background-color: green;
  font-family: "Times New Roman", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

#Cohen Cooks, Inc.{
  border: 1px white;
  width: 90px;
  height: 70px;
  padding: 10px;
  margin: 10px;
}

h2 {
  font-family: "Times New Roman", serif;
}

p {
  font-family: "Times New Roman", serif;
}

main{
 background-color: green;
  font-family: Times New Roman, serif;
  text-align: left;
}

body {
  background-color: white;
  text-align: left;
}

nav > ul {
  display: inline-flex;
  font-size: 1.2em;
  font-family: cursive;
  padding: 20px;
  padding-left: 100px;
  color: green;
}

li {
  list-style-type: square;
  font-size: 20px;
  padding-bottom: 200px;ul {
  list-style-type: none;
  padding-right: 3em;
  margin: 0;
}

section {
  background-color: white;
  }

footer {
  background-color: black ;
  font-family: "Times New Roman", serif;
  text-align: left;
}
